@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
*{
    margin-top: 2px;padding: 0;
}

.flex-all-center{
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border: 1px solid pink;
    cursor: pointer;
    padding-left: 13px;
    padding-right: 10px;

}
.btn:hover{
    color: blue;
    background-color: crimson;
    font-family: 'Zen Tokyo Zoo', cursive;
}
footer{
    background-color: #2874f0;
    color: white;
    height:12vh;
    font-family: 'Festive', cursive;
    font-size: 2vw;
}
.navi{
    background-color: #2874f0;
    border: 2px solid red;
    width: 100vw;
}
.navi ul li {
    /* display: inline; */
    list-style: none;
    padding: 0 30px;
    
}
.navi ul li a{
    text-decoration: none;  
    color: white;
    font-size: 20px;
}
.navi ul li a:hover{
    
    color: rgb(228, 26, 26);

}

nav{
    display: flex;
    /* width: 100vw; */
}

.navi ul {
    /* display: inline; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.container2{
    border: 1px solid red;
    margin-top: 10px;
}
.container3{
    border: 1px solid rgb(13, 233, 20);
    margin-top: 10px;
}
.container4{
    border: 1px solid rgb(50, 10, 230);
    margin-top: 10px;
}
.container5{
    border: 1px solid rgb(226, 4, 182);
    margin-top: 10px;
}
.container{
    min-height:  calc(100vh - 12vh - 58px);

}
.search{
    /* display: flex; */
    width: 371px;
height: 43px;
display: flex;
align-items: center;
}
.box{
max-width: 80vw;
margin-top: 15px;
padding-left: 72px;

}
.box img{
    animation: anima;
    animation-duration: 5s;
    animation-delay: 0.5s;
    
    animation-iteration-count: infinite;
animation-direction: alternate-reverse;
}
.contai{
    /* background-color: black; */
    color: black;
    /* max-width: 10vw; */
    width: 138.6px;
height: 147px;
padding-left: 20px;

}
.all{
    display: flex;
    justify-content: center;
    height: 42vh;
}
.all1{
    display: flex;
    justify-content: center;
    height: 42vh;
}
.all2{
    display: flex;
    justify-content: center;
    height: 42vh;
}
.all3{
    display: flex;
    justify-content: center;
    height: 42vh;
}


.heading{
    /* background-color: crimson; */
    color: cyan;
    height: 10px;
}
.list{
    list-style: none;
    /* background-color:gray; */
    color: rgb(17, 32, 251);
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.list a{
    text-decoration: none;

}
.list:hover{
    background-color: rgb(36, 189, 245);
    color: crimson;
}
.list1{
    text-align: center;
    color: rgb(17, 32, 251);
    text-decoration: none;
    border-radius: 10px;

}

@keyframes anima {
    from{
        /* height: 450px; */
        width: 80Vw;
        height: 280px;
        border-radius: 0px;
        
    }
    to{
        /* height: 10px; */
        width: 20Vw;
        height: 280px;
        border-radius: 10px;
    }
}
.harshit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.harshit a img{
    padding: 15px;
}